# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so
*.egg
*.egg-info/
.env
.venv/
venv/
ENV/
env/
Pipfile.lock
.pytest_cache/
.cache/
.mypy_cache/
.coverage
coverage.xml
htmlcov/

# IDEs / Editors
.vscode/
.idea/
*.swp
.DS_Store

# Logs
*.log

# Docker
docker-compose.override.yml
*.tar
*.img

# Terraform
terraform.tfstate
terraform.tfstate.backup
crash.log
.terraform/
.terraform.lock.hcl
*.tfvars
*.tfvars.json

# SSH / Keys
*.pem
*.key
id_rsa
id_ed25519
.ssh/
