name: Destroy Infrastructure

on:
    workflow_dispatch:

jobs:
    destroy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Set up Terraform
              uses: hashicorp/setup-terraform@v3

            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v4
              env:
                DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}

              with:
                 aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                 aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                 aws-region: us-east-1
            
            - name: Terraform Init
              run: terraform init

            - name: Terraform Destroy
              run: terraform destroy -auto-approve -var="docker_username=$DOCKERHUB_USERNAME"